.maintitle {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 30px;
}

hr {
    display: block;
    border-style: solid;
    border-width: 5px;
}

.searchform {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 30px;

}